<?xml version="1.0"?>
<MeGUISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Usex64Tools>true</Usex64Tools>
  <ShowDebugInformation>false</ShowDebugInformation>
  <LastDPIScaleFactor>1</LastDPIScaleFactor>
  <MainFormLocation>
    <X>720</X>
    <Y>221</Y>
  </MainFormLocation>
  <MainFormSize>
    <Width>584</Width>
    <Height>478</Height>
  </MainFormSize>
  <UpdateFormLocation>
    <X>0</X>
    <Y>0</Y>
  </UpdateFormLocation>
  <UpdateFormSize>
    <Width>780</Width>
    <Height>313</Height>
  </UpdateFormSize>
  <UpdateFormSplitter>167</UpdateFormSplitter>
  <UpdateFormUpdateColumnWidth>47</UpdateFormUpdateColumnWidth>
  <UpdateFormNameColumnWidth>105</UpdateFormNameColumnWidth>
  <UpdateFormLocalVersionColumnWidth>117</UpdateFormLocalVersionColumnWidth>
  <UpdateFormServerVersionColumnWidth>117</UpdateFormServerVersionColumnWidth>
  <UpdateFormServerArchitectureColumnWidth>50</UpdateFormServerArchitectureColumnWidth>
  <UpdateFormLocalDateColumnWidth>70</UpdateFormLocalDateColumnWidth>
  <UpdateFormServerDateColumnWidth>70</UpdateFormServerDateColumnWidth>
  <UpdateFormLastUsedColumnWidth>70</UpdateFormLastUsedColumnWidth>
  <UpdateFormStatusColumnWidth>111</UpdateFormStatusColumnWidth>
  <JobColumnWidth>40</JobColumnWidth>
  <InputColumnWidth>303</InputColumnWidth>
  <OutputColumnWidth>144</OutputColumnWidth>
  <CodecColumnWidth>79</CodecColumnWidth>
  <ModeColumnWidth>51</ModeColumnWidth>
  <StatusColumnWidth>65</StatusColumnWidth>
  <OwnerColumnWidth>60</OwnerColumnWidth>
  <StartColumnWidth>58</StartColumnWidth>
  <EndColumnWidth>58</EndColumnWidth>
  <FPSColumnWidth>95</FPSColumnWidth>
  <CustomFileSizes />
  <CustomFPSs />
  <CustomDARs />
  <Eac3toLastFolderPath>C:\Users\Administrator\Downloads\Vol.1\BDMV\PLAYLIST</Eac3toLastFolderPath>
  <Eac3toLastFilePath>C:\Users\Hitori\Downloads\[BDMV][190731][Kimetsu no Yaiba][Vol.1]\BDMV\STREAM</Eac3toLastFilePath>
  <Eac3toLastDestinationPath />
  <Eac3toLastUsedFileMode>true</Eac3toLastUsedFileMode>
  <Eac3toDefaultToHD>false</Eac3toDefaultToHD>
  <Eac3toEnableEncoder>false</Eac3toEnableEncoder>
  <Eac3toEnableDecoder>false</Eac3toEnableDecoder>
  <Eac3toAutoSelectStreams>true</Eac3toAutoSelectStreams>
  <Eac3toEnableCustomOptions>false</Eac3toEnableCustomOptions>
  <EnableDirectShowSource>false</EnableDirectShowSource>
  <FirstUpdateCheck>false</FirstUpdateCheck>
  <OneClickGUIMode>Default</OneClickGUIMode>
  <EnsureCorrectPlaybackSpeed>false</EnsureCorrectPlaybackSpeed>
  <AcceptableFPSError>0.01</AcceptableFPSError>
  <AutoUpdateServerSubList>0</AutoUpdateServerSubList>
  <LastUpdateCheck>2020-04-21T15:18:48.6109606Z</LastUpdateCheck>
  <LastUpdateServer>http://megui.org/auto/stable/</LastUpdateServer>
  <DisablePackageInterval>90</DisablePackageInterval>
  <UpdateCheckInterval>60</UpdateCheckInterval>
  <AutoUpdateServerLists>
    <ArrayOfString>
      <string>Stable</string>
      <string>http://megui.org/auto/stable/</string>
      <string>http://megui.tmebi.de/stable/</string>
    </ArrayOfString>
    <ArrayOfString>
      <string>Development</string>
      <string>http://megui.org/auto/</string>
      <string>http://megui.tmebi.de/test/</string>
    </ArrayOfString>
    <ArrayOfString>
      <string>Custom</string>
    </ArrayOfString>
  </AutoUpdateServerLists>
  <AfterEncoding>DoNothing</AfterEncoding>
  <AlwaysOnTop>false</AlwaysOnTop>
  <AddTimePosition>true</AddTimePosition>
  <UseExternalMuxerX264>true</UseExternalMuxerX264>
  <DefaultOutputDir />
  <TempDirMP4 />
  <AlwaysBackUpFiles>false</AlwaysBackUpFiles>
  <AutoForceFilm>true</AutoForceFilm>
  <AutoLoadDG>true</AutoLoadDG>
  <AutoStartQueueStartup>false</AutoStartQueueStartup>
  <AutoStartQueue>true</AutoStartQueue>
  <AutoOpenScript>true</AutoOpenScript>
  <OpenProgressWindow>true</OpenProgressWindow>
  <ForceFilmThreshold>95</ForceFilmThreshold>
  <DefaultLanguage1>English</DefaultLanguage1>
  <DefaultLanguage2>English</DefaultLanguage2>
  <DefaultPriority>NORMAL</DefaultPriority>
  <OverwriteStats>true</OverwriteStats>
  <Keep2of3passOutput>false</Keep2of3passOutput>
  <NbPasses>2</NbPasses>
  <DeleteCompletedJobs>false</DeleteCompletedJobs>
  <DeleteIntermediateFiles>true</DeleteIntermediateFiles>
  <DeleteAbortedOutput>true</DeleteAbortedOutput>
  <VideoExtension />
  <AudioExtension />
  <AutoUpdate>true</AutoUpdate>
  <DialogSettings>
    <OverwriteJobOutputResponse>true</OverwriteJobOutputResponse>
    <AskAboutOverwriteJobOutput>true</AskAboutOverwriteJobOutput>
    <DuplicateResponse>true</DuplicateResponse>
    <AskAboutDuplicates>true</AskAboutDuplicates>
    <AskAboutError>false</AskAboutError>
    <ContinueDespiteError>true</ContinueDespiteError>
    <AskAboutYV12>false</AskAboutYV12>
    <AskAboutUpdates>true</AskAboutUpdates>
    <AddConvertToYV12>false</AddConvertToYV12>
    <AskAboutVOBs>true</AskAboutVOBs>
    <UseOneClick>true</UseOneClick>
    <AskAboutIntermediateDelete>true</AskAboutIntermediateDelete>
    <IntermediateDelete>true</IntermediateDelete>
  </DialogSettings>
  <SourceDetectorSettings>
    <CombedFrameMinimum>5</CombedFrameMinimum>
    <MinimumUsefulSections>20</MinimumUsefulSections>
    <DecimationThreshold>2</DecimationThreshold>
    <MaxPortions>5</MaxPortions>
    <Priority>BelowNormal</Priority>
    <PortionsAllowed>false</PortionsAllowed>
    <PortionThreshold>5</PortionThreshold>
    <HybridFOPercent>10</HybridFOPercent>
    <MinimumAnalyseSections>150</MinimumAnalyseSections>
    <AnalysePercent>1</AnalysePercent>
    <HybridPercent>5</HybridPercent>
  </SourceDetectorSettings>
  <AedSettings>
    <AddAdditionalContent>false</AddAdditionalContent>
    <NoTargetSizeMode>true</NoTargetSizeMode>
    <BitrateMode>false</BitrateMode>
    <FileSizeMode>false</FileSizeMode>
    <Container>MKV</Container>
    <DeviceOutputType>Standard</DeviceOutputType>
    <Bitrate>700</Bitrate>
    <FileSize>
      <Bytes>8540651520</Bytes>
      <KB>8340480</KB>
      <KBExact>8340480</KBExact>
      <MB>8145</MB>
      <MBExact>8145</MBExact>
      <GB>8</GB>
      <GBExact>7.9541015625</GBExact>
    </FileSize>
    <SplitSize xsi:nil="true" />
  </AedSettings>
  <HttpProxyMode>None</HttpProxyMode>
  <HttpProxyAddress />
  <HttpProxyPort />
  <HttpProxyUid />
  <HttpProxyPwd />
  <AppendToForcedStreams />
  <MainAudioFormat>M4A</MainAudioFormat>
  <MainFileFormat>MKV</MainFileFormat>
  <LastUsedOneClickFolder />
  <MinComplexity>72</MinComplexity>
  <MaxComplexity>78</MaxComplexity>
  <FFMSThreads>1</FFMSThreads>
  <UseITUValues>true</UseITUValues>
  <ChapterCreatorMinimumLength>900</ChapterCreatorMinimumLength>
  <ChapterCreatorSortString>duration</ChapterCreatorSortString>
  <VobSubberExtractForced>false</VobSubberExtractForced>
  <VobSubberSingleFileExport>false</VobSubberSingleFileExport>
  <VobSubberKeepAll>false</VobSubberKeepAll>
  <VobSubberShowAll>false</VobSubberShowAll>
  <AlwaysUsePortableAviSynth>false</AlwaysUsePortableAviSynth>
  <NeroAacEncPath>E:\Hitori\Hitori-Encode-Pack\MeGUI-2836-32\tools\eac3to\neroAacEnc.exe</NeroAacEncPath>
  <FDKAacPath>E:\Hitori\Hitori-Encode-Pack\MeGUI-2836-32\tools\fdkaac\fdkaac.exe</FDKAacPath>
  <UseDGIndexNV>false</UseDGIndexNV>
  <UseDGIndexIM>false</UseDGIndexIM>
  <UseNeroAacEnc>false</UseNeroAacEnc>
  <UseFDKAac>false</UseFDKAac>
  <UseQAAC>true</UseQAAC>
  <AviMuxGui>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </AviMuxGui>
  <AviSynth>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-21T22:19:11.4491641+07:00</LastUsed>
  </AviSynth>
  <AviSynthPlugins>
    <Enabled>true</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </AviSynthPlugins>
  <BeSplit>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </BeSplit>
  <DGIndexIM>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </DGIndexIM>
  <DGIndex>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </DGIndex>
  <DGIndexNV>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </DGIndexNV>
  <Eac3to>
    <Enabled>false</Enabled>
    <LastUsed>2019-08-05T05:36:36.5128187+07:00</LastUsed>
  </Eac3to>
  <Fdkaac>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </Fdkaac>
  <FFmpeg>
    <Enabled>false</Enabled>
    <LastUsed>2018-06-09T21:41:35.968354+07:00</LastUsed>
  </FFmpeg>
  <FFMS>
    <Enabled>false</Enabled>
    <LastUsed>2018-06-09T23:00:09.3534753+07:00</LastUsed>
  </FFMS>
  <Flac>
    <Enabled>false</Enabled>
    <LastUsed>2019-03-21T09:41:40.9323633+07:00</LastUsed>
  </Flac>
  <Haali>
    <Enabled>false</Enabled>
    <LastUsed>2019-03-25T03:00:54.3177717+07:00</LastUsed>
  </Haali>
  <Lame>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </Lame>
  <LSMASH>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-17T05:09:44.4357508+07:00</LastUsed>
  </LSMASH>
  <MediaInfo>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-21T22:19:11.5595865+07:00</LastUsed>
  </MediaInfo>
  <MeGUI_Core>
    <Enabled>true</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </MeGUI_Core>
  <MeGUI_Libraries>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-21T22:19:11.5595865+07:00</LastUsed>
  </MeGUI_Libraries>
  <MeGUI_Updater>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-21T22:19:11.5595865+07:00</LastUsed>
  </MeGUI_Updater>
  <MkvMerge>
    <Enabled>false</Enabled>
    <LastUsed>2019-08-07T22:41:22.2877456+07:00</LastUsed>
  </MkvMerge>
  <Mp4Box>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </Mp4Box>
  <NeroAacEnc>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </NeroAacEnc>
  <OggEnc>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </OggEnc>
  <Opus>
    <Enabled>false</Enabled>
    <LastUsed>2019-03-09T19:51:18.4140337+07:00</LastUsed>
  </Opus>
  <PgcDemux>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </PgcDemux>
  <QAAC>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-17T05:13:57.2800196+07:00</LastUsed>
  </QAAC>
  <Redist>
    <Enabled>true</Enabled>
    <LastUsed>2020-04-21T22:18:46.0977042+07:00</LastUsed>
  </Redist>
  <TSMuxer>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </TSMuxer>
  <VobSubRipper>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </VobSubRipper>
  <X264>
    <Enabled>false</Enabled>
    <LastUsed>2019-08-07T20:50:07.52949+07:00</LastUsed>
  </X264>
  <X265>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </X265>
  <XviD>
    <Enabled>false</Enabled>
    <LastUsed>0001-01-01T00:00:00</LastUsed>
  </XviD>
</MeGUISettings>